body {
  font-family: roboto, sans-serif;
  color: white;
  background: white;
}

body:child {
  padding: 20px;
  margin: 20px;
}

/* universal styling */

.hidden {
  display: none;
}

.error {
  color: tomato;
  background: lightsalmon;
}

.tabling {
  display: table-cell;
}

input {
  width: 30%;
  padding: 0.66rem;
  border-radius: 5px;
  box-shadow: none;
  color: gray;
  margin-right: 10px;
}

.submit {
  padding: 0.666rem;
  border-radius: 5px;
  background: black;
  color: white;
  box-shadow: none;
  width: 10%;
  text-align: center;
  margin: 1rem;
  border: none;
}

.submit:hover {
  cursor: pointer;
  background: grey;
}


/* setting up basic layout */

.heading {
  background: #d44825;
  border-radius: 5px;
}

.heading .welcome {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  left: 20px;
}

.heading .description {
  display: inline-block;
  position: relative;
  font-style: italic;
  right: 20px;
}

.login {
  background: #6ab839;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  font-size: .75rem;
}

.user {
  background: #6ab839;
  border-radius: 5px;
}

.mentor {
  background: #02a17d;
}

.mentor .submit {
  width: 20%;
  font-size: 1rem;
}

.roadmap {
  background: #3f8be1;
}

.checkpoint {
  background: #1f55e;
}


/* mentor styling */

.timebox {
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background: white;
  color: grey;
}

.t-hover:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.timebox-button {
  background: tomato;
  color: white;
}

.timebox .selected {
  background: black;
  color: white;
}

.want-box {
  background: white;
  color: grey;
  border-radius: 5px;
  width: 20%;
}

.want-box-claim {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

